<h2>Intro</h2>
<p>This project is an example implementation addressing some of principles behind the SCS architecture and front-end integration.
This project provides different service implementations (merely stubs without actual persistence implementation)
that integrate in different scenarios appropriate for each specific problem domain.</p>
<p>For further information about the general topic of SCS and front-end integration you may want to take a look at</p>
<ul>
<li><a href="http://www.scs-architecture.com">scs-architecture.com</a></li>
<li><a href="https://www.innoq.com/de/podcast/025-scs-frontend-integration/">frond-end integration and SCS - 01</a> (german)</li>
<li><a href="https://www.innoq.com/de/podcast/026-scs-frontend-integration-teil-2/">frond-end integration and SCS - 02</a> (german)</li>
</ul>
<p>This service landscape, which aims to build an easy and simple to use ecommerce system involves a couple of systems/services:</p>
<ul>
<li>
<p><a href="https://github.com/scs-commerce/order">order</a></p>
<p>An order service, that at the moment just offers the possibility to add articles to a shopping basket.</p>
</li>
<li>
<p><a href="https://github.com/scs-commerce/product-list">product lists</a></p>
<p>A list of generated products (just name and fake descriptions for now)</p>
</li>
<li>
<p><a href="https://github.com/scs-commerce/landing-page">landing page</a></p>
<p>A landing page, that combines its own static content with the content provided by the other services.</p>
<p>In detail that means, that a list of products out of the product-list service is embedded, that is loaded page, by page,
by scrolling down to the bottom of the page.</p>
<p>Furthermore there a view to the shopping basket service is injected at the top of the landing page,
that can be updated by marking articles at the product-list.</p>
</li>
<li>
<p><a href="https://github.com/scs-commerce/assets">assets</a></p>
<p>A centralized asset library, that contains central js and CSS components available to all domains.
We load <a href="http://getbootstrap.com/">bootstap</a> CSS in beforehand so that it builds the base of our asset library.</p>
</li>
</ul>
<p>Accompanying to the service repositories, an <a href="https://github.com/scs-commerce/integration">integration</a> repository is available, that contains a configuration and a docker setup for
running an nginx web server, that serves as application server as well as caching proxy.</p>
