<h2>Running the demo setup</h2>
<ol start="0">
<li><strong>pre-requisites</strong></li>
</ol>
<ul>
<li><a href="https://docs.docker.com/engine/installation/">install docker</a></li>
</ul>
<ol>
<li><strong>checkout the scs-commerce repositories</strong></li>
</ol>
<pre><code class="language-bash"># prepare base folder (can be named anything)
mkdir scs-commerce
cd ./scs-commerce

# checkout services
# for further details take a look at the single repositories
# https://github.com/scs-commerce/
git clone git@github.com:scs-commerce/landing-page.git
git clone git@github.com:scs-commerce/product-list.git
git clone git@github.com:scs-commerce/order.git
git clone git@github.com:scs-commerce/integration.git
</code></pre>
<ol start="2">
<li><strong>build integration project</strong></li>
</ol>
<pre><code class="language-bash">cd ./integration
docker-compose build
docker-compose up
</code></pre>
<ol start="3">
<li><strong>visit landing page</strong></li>
</ol>
<pre><code class="language-bash">open http://localhost
</code></pre>
