body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.editorial-content h2 {
  margin-top: 3rem;
}
.editorial-content img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.editorial-content pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.editorial-content pre .hljs {
  border: 1px dashed #dcded9;
  border-bottom: 5px solid #373737;
  border-radius: 2px;
}
